@{
    ViewBag.Title = "关于";
}
<div style="margin-top:50px;">
    <h2>关于</h2>

    <p>版本：v1.0.1</p>
    <p>作者：小人物</p>
    <address>
        <strong>技术支持:</strong>   <a href="javascript:;" onclick="window.open('tencent://message/?uin=208106500&amp;Menu=yes')">
            请点此即时联系我
        </a><br />
    </address>
</div>
