################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DbTables/.vs
/DbTables/packages
/DbTables/CF.Entity/obj
/DbTables/CF.Entity/bin
/DbTables/CF.Biz/obj
/DbTables/CF.Biz/bin
/DbTables/DbTables/obj
/DbTables/DbTables/bin
/WZY.Dapper/packages
/WZY.Dapper/WZY.Dapper/obj
/WZY.Dapper/WZY.Dapper/bin
/WZY.Dapper/.vs

